.produit{
    margin: 50px auto;
    display: grid;
    grid-template-columns: 8fr 5fr 7fr;
    font-family: Calibri;

    .listeLien{
        margin: 50px;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li{
            font-size: 2em;
            color: #6d6d6d;
            list-style-type: square;
            margin: 20px;
        }
    }

    .boxPhoto{
        margin: 50px;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .bigPhoto{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .miniPhoto{
            display: flex;
            justify-content: space-between;
            
            img{
                margin: 10px;
            }
        }
    }

    .ficheProduit{
        margin: 50px;
        grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: space-evenly;
        color: #6d6d6d;

        h2:nth-child(1){
            color: #7c925e;
        }

        h2{
            font-weight: bold;
        }

        button{
            color: white;
            background-color: #7c925e;
            height: 50px;
            width: 200px;
            font-size: 1.3em;
            font-weight: bold;
            border: none;
        }

        button:hover{
            transform: scale(1.2);
        }


    }
}


@media (min-width:330px) and (max-width: 575px){
    
    .produit{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .boxPhoto{
            margin: 0;
            padding: 0;
            grid-column: 1;
            grid-row: 1;
        }

        .ficheProduit{
            margin: 0;
            padding: 0;
            grid-column: 1;
            grid-row: 2;

            button:active{
                transform: scale(1.2);
            }
        }

        .listeLien{
            margin: 0;
            padding: 0;
            grid-column: 1;
            grid-row: 3;
        }
    }
}